.logox {
    width: 50px;
    height: 50px;
}
.border {
    border-bottom: 2px dashed black;
    width: 100vw;
}
h1,
h2,
h3 {
    font-size: 18px;
}
.ll,
.se,
.bb {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #131f24;
    text-align: center;
    color:  whitesmoke;
    width: 900px;
}
.ll:hover , 
.se:hover , 
.bb:hover  {
    border-radius: 24px;
    background: linear-gradient(45deg, #4158d0 0%, #c850c0 40%, #ffcc70 90%);
}
video {
    width: 250px;
    height: 250px;
}
